header {
    
    
    
    .header-logo, .header-logo-resto {
        @include flex-center ;
        box-shadow: grey 0px 0px 7px ;
        height: 70px;
        position: relative;
        

    }
    
    .header-logo-resto {
        i {
            position: absolute;
            left: 2%;
            font-size: 125%;
        }
    }

}

    .nav-location {
        background-color: $bg-color-nav;
        height: 60px;
        @include flex-center;
        
        position: relative;
        z-index: -1;
    }
    

    