/* General settings */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
}
body a {
  text-decoration: none;
}

/*Mixins */
/* Variables */
/* Header */
header {
  position: relative;
  z-index: 2;
}
header .header-logo, header .header-logo-resto {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: grey 0px 0px 7px;
  height: 70px;
  position: relative;
}
header .header-logo-resto i {
  position: absolute;
  left: 2%;
  bottom: 35%;
  font-size: 125%;
}

/* Forms */
.nav-location {
  background-color: #eaeaea;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-location .form-location .location {
  border: none;
  background-color: #eaeaea;
  width: 150px;
  outline: none;
}

.section-find-restaurant {
  padding: 20px;
}
.section-find-restaurant h2 {
  margin-bottom: 0;
}
.section-find-restaurant .find-restaurant-content {
  margin: 20px 0px;
  display: flex;
  flex-flow: row wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 992px) {
  .section-find-restaurant .find-restaurant-content {
    display: flex;
    flex-flow: column wrap;
  }
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant {
  border: #f6f6f6 solid;
  width: 30%;
  background-color: #f6f6f6;
  margin: 1%;
  height: 75px;
  display: flex;
  align-items: center;
  border-radius: 25px;
  box-shadow: #eaeaea 0px 5px 5px;
}
@media screen and (max-width: 992px) {
  .section-find-restaurant .find-restaurant-content .form-find-restaurant {
    width: 100%;
    margin: 10px 0px;
  }
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant:hover {
  transition: 500ms;
  background-color: #f2eafb;
  border: #f2eafb solid;
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant:hover .find-restaurant-img i {
  transition: 500ms;
  color: #9356DC;
  background-color: #f2eafb;
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant:hover .find-restaurant-text {
  transition: 500ms;
  background-color: #f2eafb;
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant .find-restaurant-number {
  padding: 5px 10px;
  border-radius: 50px;
  background-color: #9356DC;
  color: white;
  position: relative;
  right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant .find-restaurant-img i {
  background-color: #f6f6f6;
  color: #777777;
  padding: 0px 5px;
}
.section-find-restaurant .find-restaurant-content .form-find-restaurant .find-restaurant-text {
  border: none;
  background-color: #f6f6f6;
  padding-left: 10px;
  outline: none;
}

/* Buttons */
.button {
  width: 230px;
  height: 60px;
  border-radius: 50px;
  border: none;
  color: white;
  background: linear-gradient(to right bottom, #FF79DA, #9356DC);
  box-shadow: gray 0px 2px 10px;
  cursor: pointer;
  transition: all 500ms;
}
.button:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: gray 2px 6px 10px;
}
.button--command {
  padding: 25px 0px 75px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--command button {
  font-size: 125%;
}

/* Loader */
.loader {
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-flow: column wrap;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  animation: loading-duration forwards;
  animation-duration: 2000ms;
  animation-iteration-count: 1;
  z-index: 3;
}
.loader .loading-logo {
  font-family: "Shrikhand";
  font-size: 50px;
}
.loader .loading-ring {
  position: relative;
  width: 150px;
  height: 150px;
}
.loader .loading-ring div {
  position: absolute;
  margin: 20px;
  width: 90%;
  height: 90%;
  border: 10px solid #9356DC;
  border-radius: 100%;
  border-color: #9356DC #FF79DA #99E2D0 #eaeaea;
  animation: loading-ring 1200ms cubic-bezier(0.49, 0.89, 0.59, 0.13) infinite;
}

/* Keyframes */
@keyframes loading-ring {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loading-duration {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes menuAppear {
  from {
    opacity: 0;
    transform: translateY(-200px);
  }
  to {
    opacity: 1;
  }
}
@keyframes checkSlide {
  from {
    width: 0px;
  }
  to {
    width: 75px;
  }
}
/* Footer */
footer {
  background-color: #353535;
  color: white;
  display: flex;
  padding: 10px 20px;
  display: flex;
  flex-flow: column wrap;
}
footer .footer-heading {
  font-family: "Shrikhand", sans-serif;
  font-size: 90%;
}
footer .footer-content {
  display: flex;
  flex-flow: column wrap;
}
footer .footer-content h3 {
  margin: 5px 0px;
}
footer .footer-content a {
  color: white;
}
footer .footer-content .footer-text-i a {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}
footer .footer-content .footer-text-i a h3 {
  padding: 0px 10px;
}

/* Style des pages Restaurants */
.section-menu {
  background-color: #f6f6f6;
  position: relative;
}
.section-menu .menu-bckgrnd-img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: 30% 75%;
}
.section-menu .main-menu {
  position: relative;
  margin-top: -75px;
  border-radius: 50px 50px 0px 0px;
  background-color: #f6f6f6;
}
.section-menu .main-menu .menu-heading {
  position: relative;
  padding-top: 20px;
}
.section-menu .main-menu .menu-heading h1 {
  font-family: "Shrikhand";
  padding: 10px 20px 0px 20px;
  font-size: 175%;
  margin: 0;
}
.section-menu .main-menu .menu-heading i {
  font-size: 175%;
  position: absolute;
  right: 5%;
  bottom: 10%;
  cursor: pointer;
}
.section-menu .main-menu .menu-heading .fas {
  color: transparent;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}
.section-menu .main-menu .menu-heading .fas:hover {
  opacity: 1;
  transform: scale(1.2);
}
.section-menu .main-menu .menu-content {
  padding: 10px 0px;
  animation: menuAppear 1s;
}
.section-menu .main-menu .menu-content--plats {
  animation-delay: 200ms;
}
.section-menu .main-menu .menu-content--desserts {
  animation-delay: 400ms;
}
.section-menu .main-menu .menu-content h2 {
  font-size: 125%;
  font-weight: 100;
  padding-left: 20px;
}
.section-menu .main-menu .menu-content h2 span {
  text-decoration: underline #99E2D0 4px;
  text-underline-position: under;
}
.section-menu .main-menu .menu-content .menu-cards-content {
  display: flex;
  flex-flow: row wrap;
}
.section-menu .main-menu .menu-content .menu-cards {
  background-color: white;
  border-radius: 20px;
  box-shadow: #eaeaea 5px 10px 10px;
  margin: 10px;
  position: relative;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 95%;
}
@media screen and (min-width: 768px) {
  .section-menu .main-menu .menu-content .menu-cards {
    width: 45%;
  }
}
@media screen and (min-width: 1080px) {
  .section-menu .main-menu .menu-content .menu-cards {
    width: 30%;
  }
}
.section-menu .main-menu .menu-content .menu-cards:hover .menu-card-check {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: checkSlide 500ms forwards;
}
.section-menu .main-menu .menu-content .menu-cards .menu-card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px 0px 10px 15px;
}
.section-menu .main-menu .menu-content .menu-cards h3,
.section-menu .main-menu .menu-content .menu-cards p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 5px 0px;
}
.section-menu .main-menu .menu-content .menu-cards p {
  font-size: 95%;
}
.section-menu .main-menu .menu-content .menu-cards h3 {
  font-size: 100%;
}
.section-menu .main-menu .menu-content .menu-cards .menu-card-price-check {
  display: flex;
  flex-flow: row nowrap;
}
.section-menu .main-menu .menu-content .menu-cards .menu-card-price {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.section-menu .main-menu .menu-content .menu-cards .menu-card-price p {
  margin: 0;
  padding: 15px 30px 15px 2px;
  font-weight: bold;
  color: #404040;
}
.section-menu .main-menu .menu-content .menu-cards .menu-card-check {
  border-radius: 0px 20px 20px 0px;
  display: none;
  background-color: #99E2D0;
}
.section-menu .main-menu .menu-content .menu-cards .menu-card-check i {
  font-size: 200%;
  color: white;
}

/* Main page */
a {
  color: black;
}

.section-explore {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: column wrap;
  padding: 25px 20px;
}
.section-explore h1 {
  font-size: 150%;
}
.section-explore h1, .section-explore p {
  text-align: center;
}

.section-restaurants {
  background-color: #f6f6f6;
  padding: 20px 0px;
}
.section-restaurants h2 {
  margin-bottom: 0;
  margin-left: 20px;
}
.section-restaurants .restaurants-content {
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-flow: row wrap;
}
.section-restaurants .restaurants-content .new {
  position: relative;
}
.section-restaurants .restaurants-content .new::before {
  content: "Nouveau";
  font-weight: bold;
  font-size: 90%;
  border-radius: 2px;
  position: absolute;
  height: 30px;
  width: 85px;
  background-color: #99E2D0;
  color: #278870;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 5%;
  top: 5%;
}
.section-restaurants .restaurants-content .restaurants-cards {
  box-shadow: #eaeaea 0px 8px 7px;
  border-radius: 0px 0px 25px 25px;
  margin: 20px;
  width: 43%;
}
@media screen and (max-width: 768px) {
  .section-restaurants .restaurants-content .restaurants-cards {
    width: 100%;
  }
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-img {
  width: 100%;
  height: 175px;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
  display: flex;
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-cards-content {
  position: relative;
  height: 75px;
  background-color: white;
  border-radius: 0px 0px 15px 15px;
  align-items: center;
  padding: 15px;
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-cards-content h3 {
  margin: 0;
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-cards-content p {
  margin: 0;
  padding-top: 5px;
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-cards-content i {
  font-size: 25px;
  position: absolute;
  right: 5%;
  bottom: 35%;
  cursor: pointer;
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-cards-content .fas {
  color: transparent;
  background-image: linear-gradient(to right bottom, #FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 300ms;
}
.section-restaurants .restaurants-content .restaurants-cards .restaurants-cards-content .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

/*# sourceMappingURL=style.css.map */
