.explore-button {
    width: 230px;
    height: 60px;
    border-radius: 50px;
    border: none;
    color: white;
    background : $linear-gradient;
    box-shadow: gray 0px 2px 10px ;
    cursor: pointer;
    transition: all 500ms;
    &:hover {
        transform: scale(1.1);
    }
}

.command-button {
    padding: 25px 0px 75px 0px;
    @include flex-center;
    p {
        font-size: 140%;
        margin-top: 17px;
        
    }
}