.nav-location {
    background-color: $bg-color-nav;
    height: 60px;
    @include flex-center;

    

    
    .form-location {

        .location {
            border: none;
            background-color: $bg-color-nav;
            width: 150px;
            outline: none;
        }
    }
}


.section-find-restaurant {
    padding: 20px;


    h2 {
        margin-bottom: 0;
    }

    .find-restaurant-content {

        margin: 20px 0px;
        @media screen and (max-width : 992px) {
            @include flex-column;
        }

        @include flex-row;
        @include flex-center;


        .form-find-restaurant {
            border: $bg-color-general solid;

            @media screen and (max-width : 992px) {
                width: 100%;
                margin: 10px 0px;
            }

            width: 30%;
            background-color: $bg-color-general;
            margin: 1%;
            height: 75px;
            display: flex;
            align-items: center;
            border-radius: 25px;
            box-shadow: $bg-color-nav 0px 5px 5px;
            



            &:hover {
                transition: 500ms;
                background-color: lighten($color-primary, 35%);
                border: lighten($color-primary, 35%) solid;

                .find-restaurant-img i {
                    transition: 500ms;
                    color: $color-primary;
                    background-color: lighten($color-primary, 35%);
                }

                .find-restaurant-text {
                    transition: 500ms;
                    background-color: lighten($color-primary, 35%);
                    

                }
            }

            .find-restaurant-number {
                padding: 5px 10px;
                border-radius: 50px;
                background-color: $color-primary;
                color: white;
                position: relative;
                right: 15px;
                @include flex-center;
                



            }


            .find-restaurant-img i {
                background-color: $bg-color-general;
                color: darken($bg-color-general, 50%);
                padding: 0px 5px;
                
            }

            .find-restaurant-text {
                border: none;
                background-color: $bg-color-general;
                padding-left: 10px;
                outline: none;
                &::placeholder{
                    color: black;
                    opacity: 1;
                }
                

               
            }
        }
    }
}