header {
    position: relative;
    z-index: 2;
    
    .header-logo, .header-logo-resto {
        @include flex-center ;
        box-shadow: grey 0px 0px 7px ;
        height: 70px;
        position: relative;
        

    }
    
    .header-logo-resto {

        
        i {
            position: absolute;
            left: 2%;
            bottom: 35%;
            font-size: 125%;
        }
    }

}

    
    

    