.section-menu {

    background-color: $bg-color-general;
    position: relative;

    .menu-bckgrnd-img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: 30% 75%;



    }


    .main-menu {
        position: relative;
        margin-top: -75px;
        border-radius: 50px 50px 0px 0px;
        background-color: $bg-color-general;

       
        .menu-heading {


            position: relative;
            padding-top: 20px;




            h1 {
                font-family: 'Shrikhand';
                padding: 10px 20px 0px 20px;
                font-size: 175%;
                margin: 0;
            }

            i {
                font-size: 175%;
                position: absolute;
                right: 5%;
                bottom: 10%;
                cursor: pointer;

            }

            .fas {
                color: transparent;
                background-image: $linear-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 300ms;
                

                &:hover, &:active, &:focus {
                    opacity: 1;
                    transform: scale(1.2);
                }
            }
        }

        .menu-content {
            
            padding: 10px 0px;
            animation: menuAppear 1s;

            &--plats {
                animation-delay: 200ms;
            } 

            &--desserts {
                animation-delay: 400ms;
            }

            h2 {
                font-size: 125%;
                font-weight: 100;
                padding-left: 20px;

                span {
                    text-decoration: underline $color-tertiary 4px;
                    text-underline-position: under;
                }
            }

            .menu-cards-content {
                @include flex-row;
                
                
            }
            .menu-cards {
                background-color: white;
                border-radius: 20px;
                box-shadow: $bg-color-nav 5px 10px 10px;
                margin: 10px;
                position: relative;
                @include flex-space-between;
                cursor: pointer;
                width: 95%;
                @media screen and (min-width : 768px) {
                    width: 45%;
                }
                @media screen and (min-width : 1080px) {
                    width: 30%;
                }
                

                &:hover {
                        
                    .menu-card-check {
                        @include flex-center;
                        animation: checkSlide 500ms forwards;
                        
                        
                                                   
                    }

                    
                }

                .menu-card-text {
                    
                    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 10px 0px 10px 15px;

                }

                h3,
                p {
                    margin: 0;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    padding: 5px 0px;
                    
                }

                p {
                    font-size: 95%;
                }

                h3 {
                    font-size: 100%;
                }
                .menu-card-price-check {
                    display: flex;
                    flex-flow: row nowrap;
                    
                }

                .menu-card-price {
                    display: flex;
                    justify-content: flex-end;
                    align-items: flex-end;

                    p{
                        margin: 0;
                        padding: 15px 30px 15px 2px;
                        font-weight: bold;
                        color: lighten(black, 25%);
                    }
                    
                }

                .menu-card-check {
                    border-radius: 0px 20px 20px 0px;
                    display: none;
                    background-color: $color-tertiary;
                    
                    
                    i {
                        
                        font-size: 200%;
                        color: white;


                    }

                }
            }
        }
    }
}