.section-menu {

    background-color: $bg-color-general;
    position: relative;

    .menu-bckgrnd-img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        object-position: 30% 75%;



    }


    .main-menu {
        position: relative;
        margin-top: -75px;
        border-radius: 50px 50px 0px 0px;
        background-color: $bg-color-general;

       
        .menu-heading {


            position: relative;
            padding: 20px 0px;




            h1 {
                font-family: 'Shrikhand';
                padding: 0px 20px;
                font-size: 200%;
            }

            i {
                font-size: 150%;
                position: absolute;
                right: 5%;
                top: 40%;
                cursor: pointer;

            }

            .fas {
                color: transparent;
                background-image: $linear-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 300ms;

                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        .menu-content {
            padding: 0px 20px;
            animation: menuAppear 1s;

            &--plats {
                animation-delay: 200ms;
            } 

            &--desserts {
                animation-delay: 400ms;
            }

            h2 {
                font-size: 125%;
                font-weight: 100;

                span {
                    text-decoration: underline $color-tertiary 4px;
                    text-underline-position: under;
                }
            }

            .menu-cards {
                background-color: white;
                border-radius: 25px;
                box-shadow: $bg-color-nav 0px 2px 5px;
                margin: 20px 0px;
                position: relative;
                @include flex-space-between;
                cursor: pointer;

                &:hover {
                        
                    .menu-card-check {
                        @include flex-center;
                        animation: checkSlide 500ms forwards;
                        
                                                   
                    }
                }

                .menu-card-text {
                    padding: 15px;
                    
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;

                }

                h3,
                p {
                    margin: 0;
                    padding: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    
                    
                }

                .menu-card-price {
                    @include flex-center;
                    
                }

                .menu-card-check {
                    border-radius: 0px 25px 25px 0px;
                    display: none;
                    background-color: $color-tertiary;
                    
                    
                    i {
                        
                        font-size: 200%;
                        color: white;


                    }

                }
            }
        }
    }
}