.section-menu {
   
    background-color: $bg-color-general;
    

   

    .main-menu {
        border: solid ;
        
        button {
            position: relative;
            left: 40%;
            margin-bottom: 20px;

        }
        
        
        
        
        .menu-bckgrnd-img {
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
        
        .menu-heading {
           
            border-radius: 50px 50px 0px 0px;
            position: relative;
            
        
            h1 {
                font-family: 'Shrikhand';
                padding: 0px 20px;
                font-size: 200%;
            }
            i {
                font-size: 150%;
               position: absolute;
               right: 5%;
               top : 10%;
               cursor: pointer;

            }
            .fas {                  
                color: transparent;
                background-image: $linear-gradient;
                background-clip: text;
                -webkit-background-clip: text;
                opacity: 0;
                transition: all 300ms;
                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }                    
            }
        }

        .menu-content {
            padding: 0px 20px;

            h2 {
                font-size: 125%;
                font-weight: 100;
                span {
                    text-decoration: underline $color-tertiary 4px;
                    text-underline-position: under ;
                }
            }

            .menu-cards {
                background-color: white;
                border-radius: 25px;
                box-shadow: $bg-color-nav 0px 8px 7px ;
                margin: 20px 0px;

                .menu-card-text {
                    padding: 5px;
                }
                h3 {
                    margin: 0;
                }
            }
        }
    }
}